{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}
{% block description %}{% endblock %}

{% block content %}
<div class="uk-width-medium-7-10">

    <article class="uk-article">
        <h1 class="uk-heading-large uk-article-title">{{ article.title }}</h1>
        <p class="uk-article-meta"><time datetime="{{ article.date.strftime('%Y-%m-%d') }}">{{ article.locale_date }}</time> in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>

        <section>{{ article.content }}</section>
        <hr class="uk-article-divider">
    </article>

</div>
{% endblock %}
